html, body {
	background: #FFFFEE;
	color: #800000;
}

a {
	color: #0000EE;
}

a:hover {
	color: #DD0000;
}

hr {
	color: #800000;
	background-color: #800000;
	background-image: -webkit-linear-gradient(left,rgba(255,255,238,1),rgba(128,0,0,0.75),rgba(255,255,238,1));
	background-image: -moz-linear-gradient(left,rgba(255,255,238,1),rgba(128,0,0,0.75),rgba(255,255,238,1));
	background-image: -ms-linear-gradient(left,rgba(255,255,238,1),rgba(128,0,0,0.75),rgba(255,255,238,1));
	background-image: -o-linear-gradient(left,rgba(255,255,238,1),rgba(128,0,0,0.75),rgba(255,255,238,1));
}

.reflink a:hover {
	font-weight: bold;
}

.logo {
	clear: both;
	text-align: center;
	font-size: 2em;
	color: #800000;
	width: 100%;
}

.replymode {
	background: #E04000;
	text-align: center;
	padding: 2px;
	color: #FFFFFF;
	width: 100%;
}

.manageinfo {
	background: #00B930;
	text-align: center;
	padding: 2px;
	color: #FFFFFF;
	width: 100%;
}

.catalogmode {
	background: #0040E0;
	text-align: center;
	padding: 2px;
	color: #FFFFFF;
	width: 100%;
}

.rules {
	/*font-size:0.7em;*/
	width: 468px;
	font-size: 10px;
	font-family: sans-serif;
}

.rules li {
	margin-left: 1em;
	/*text-indent: 0em;*/
}

.postblock {
	background: #EEAA88;
	color: #800000;
	font-weight: 800;
}

.footer {
	font-size: 12px;
	font-family: serif;
}

.passvalid {
	background: #EEAA88;
	text-align: center;
	width: 100%;
	color: #ffffff;
}

.dellist {
	font-weight: bold;
	text-align: center;
}

.delbuttons {
	text-align: center;
	padding-bottom: 4px;

}

.managehead {
	background: #AAAA66;
	color: #400000;
	padding: 0;
}

.postlists {
	background: #FFFFFF;
	width: 100%;
	padding: 0;
	color: #800000;
}

.row1 {
	background: #EEEECC;
	color: #800000;
}

.row2 {
	background: #DDDDAA;
	color: #800000;
}

.unkfunc {
	background: inherit;
	color: #789922;
}

.filesize {
	text-decoration: none;
}

.filetitle {
	background: inherit;
	font-size: 1.2em;
	color: #CC1105;
	font-weight: 800;
}

.postername {
	color: #117743;
	font-weight: bold;
}

.postertrip {
	color: #228854;
}

.oldpost {
	color: #CC1105;
	font-weight: 800;
}

.omittedposts {
	color: #707070;
}

.reply {
	background: #F0E0D6;
	color: #800000;
}

.replyhl {
	background: #F0C0B0;
	color: #800000;
}

.replytitle {
	font-size: 1.2em;
	color: #CC1105;
	font-weight: 800;
}

.commentpostername {
	color: #117743;
	font-weight: 800;
}

.thumbnailmsg {
	font-size: small;
	color: #800000;
}

.abbrev {
	color: #707070;
}

.highlight {
	background: #F0E0D6;
	color: #800000;
	border: 2px dashed #EEAA88;
}